:root {
	--bg-color: #fff;
	--fg-color: #000;
	--accent-color: #c0c0c0;
	font-family: Arial, sans-serif;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#audio-indic {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 20px;
	padding-right: 50px;
}

#duck {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#footnote {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
}

a {
	color: var(--accent-color);
}
